@{
    ViewData["Title"] = "404 - Page Not Found";
    Layout = "_Layout";
}

    <div class="mn-vh-100 d-flex align-items-center mx-1350">
        <div class="container-fluid">
            <div class="card justify-content-center py-5 px-4">
                <div class="row justify-content-center my-5 pt-4">
                    <div class="col-xl-12 text-center">
                        <h1 class="mb-30">The Page Not Found!</h1>
                        <img src="../assets/img/media/error.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="..assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <div id="wt-sky-root"></div>
