@{
}
<!-- ======================= Middle Top Start ========================= -->
<div class="header-top bg-main-600 flex-between py-10">
    <div class="container container-lg">
        <div class="flex-between flex-wrap gap-8">

            <div class="text-white text-sm d-flex align-items-center gap-4">
                <img src="~/marketPro/assets/images/icon/track-icon.png" alt="Track Icon">
                <span class="">We deliver to you every day from 7.00 to 23.00</span>
            </div>

            <div class="d-flex align-items-center gap-6 flex-wrap">
                <span class="text-md fw-medium text-white">Until the end of the sale:</span>
                <div class="d-flex align-items-center gap-10" id="countdown25">
                    <div class="d-flex align-items-center gap-4 text-white">
                        <strong class="text-md fw-semibold days">905</strong>
                        <span class="text-xs">Days</span>
                    </div>
                    <div class="d-flex align-items-center gap-4 text-white">
                        <strong class="text-md fw-semibold hours">5</strong>
                        <span class="text-xs">Hours</span>
                    </div>
                    <div class="d-flex align-items-center gap-4 text-white">
                        <strong class="text-md fw-semibold minutes">42</strong>
                        <span class="text-xs">Minutes</span>
                    </div>
                    <div class="d-flex align-items-center gap-4 text-white">
                        <strong class="text-md fw-semibold seconds">45</strong>
                        <span class="text-xs">Sec.</span>
                    </div>
                </div>
            </div>


            <ul class="header-top__right flex-align flex-wrap gap-16">
                <li class="">
                    <a href="javascript:void(0)" class="text-white-6 text-sm hover-text-white">Track Order</a>
                </li>
                <li class="">
                    <a href="javascript:void(0)" class="text-white-6 text-sm hover-text-white">About Us</a>
                </li>
                <li class="">
                    <a href="contact.html" class="text-white-6 text-sm hover-text-white">Contact</a>
                </li>
                <li class="">
                    <a href="wishlist.html" class="text-white-6 text-sm hover-text-white">Wishlist</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ======================= Middle Top End ========================= -->
