@{
}

    <!-- ==================== Footer Two Start Here ==================== -->
    <footer class="footer py-80 overflow-hidden bg-black-light">
        <div class="container container-lg">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-5 gy-5">

                <div class="col">
                    <div class="footer-item max-w-275" data-aos="fade-up" data-aos-duration="400">
                        <div class="footer-item__logo mb-40">
                            <a href="index-2.html"> <img src="~/marketPro/assets/images/logo/logo-white.png" alt=""></a>
                        </div>
                        <div class="flex-align gap-16 mb-20">
                            <span class="text-main-two-600 text-xl flex-shrink-0"><i class="ph-bold ph-phone-call"></i></span>
                            <a href="tel:+00123456789" class="text-md text-white fw-medium hover-text-main-600">+00 123 456 789</a>
                        </div>
                        <div class="flex-align gap-16 mb-20">
                            <span class="text-main-two-600 text-xl flex-shrink-0"><i class="ph-bold ph-chat-circle-text"></i></span>
                            <a href="mailto:support24@marketpro.com" class="text-md text-white fw-medium hover-text-main-600">support24@marketpro.com</a>
                        </div>
                        <div class="flex-align gap-16 mb-20">
                            <span class="text-main-two-600 text-xl flex-shrink-0"><i class="ph-bold ph-map-pin-area"></i></span>
                            <span class="text-md text-white fw-medium ">789 Inner Lane, California, USA</span>
                        </div>

                    </div>
                </div>

                <div class="col">
                    <div class="footer-item" data-aos="fade-up" data-aos-duration="500">
                        <h6 class="footer-item__title text-white fw-semibold mb-24">Shopping</h6>
                        <ul class="footer-menu d-flex flex-column gap-20">
                            <li class="">
                                <a href="javascript:void(0)" class="text-neutral-200 hover-text-white hover-text-decoration-underline">Phones</a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" class="text-neutral-200 hover-text-white hover-text-decoration-underline">Cameras</a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" class="text-neutral-200 hover-text-white hover-text-decoration-underline">Headphones</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="footer-item" data-aos="fade-up" data-aos-duration="600">
                        <h6 class="footer-item__title text-white fw-semibold mb-24">Opportunities</h6>
                        <ul class="footer-menu d-flex flex-column gap-20">
                            <li class="">
                                <a href="javascript:void(0)" class="text-neutral-200 hover-text-white hover-text-decoration-underline">Cart</a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" class="text-neutral-200 hover-text-white hover-text-decoration-underline">Account</a>
                            </li>
                            <li class="">
                            <a href="javascript:void(0)" class="text-neutral-200 hover-text-white hover-text-decoration-underline">Wishlist</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="footer-item" data-aos="fade-up" data-aos-duration="700">
                        <h6 class="footer-item__title text-white fw-semibold mb-24">Company</h6>
                        <ul class="footer-menu d-flex flex-column gap-20">
                            <li class="">
                                <a href="javascript:void(0)" class="text-neutral-200 hover-text-white hover-text-decoration-underline">About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="footer-item" data-aos="fade-up" data-aos-duration="800">
                        <h6 class="footer-item__title text-white fw-semibold mb-24">Blog</h6>
                        <ul class="footer-menu d-flex flex-column gap-20">
                            <li class="">
                                <a href="javascript:void(0)" class="text-neutral-200 hover-text-white hover-text-decoration-underline">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- bottom Footer -->
    <div class="bottom-footer bg-black-light">
        <div class="container container-lg">
            <div class="bottom-footer__inner flex-between flex-wrap gap-16 border-top border-gray-800 py-24">
                <p class="text-white fw-normal wow fadeInLeft">Full Copyright &copy; Design By MarketPro - 2025</p>
                <div class="flex-align gap-8 flex-wrap wow fadeInRight">
                    <img src="~/marketPro/assets/images/thumbs/payment-method-two.png" alt="Payment Method">
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== Footer Two End Here ==================== -->