@{
    ViewData["Title"] = "500 - Internal Server Error";
    Layout = "_Layout";
}

<body>
    <div class="mn-vh-100 d-flex align-items-center mx-1350">
        <div class="container-fluid">
            <div class="card justify-content-center py-5 px-4">
                <div class="row justify-content-center my-5 pt-4">
                    <div class="col-xl-12 text-center">
                        <h1 class="mb-20">Internal Server Error!</h1>
                        <p class="mxw-550">We're sorry, but something went wrong on our end. Please try again later.</p>
                        <img src="~/assets/img/media/error5.png" alt="500 Error" />
                        <div class="mt-4">
                            <a href="/" class="btn btn-primary">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../../assets/js/script.js"></script>
    <div id="wt-sky-root"></div>
</body>
